/* .helper {
  margin: 1%;
  padding: 1%;
  overflow: hidden;
  
} */

.timestamp, button, .submit{
  color:#808080;
}

.wrapper{
  width: 40%;
  max-width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom :10px;
  margin-left: 30%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color:#F5F5F5;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

@media only screen and (max-width: 768px){
  [class='wrapper']{
    width: 60%;
    margin-left: 20% ;
  }
}
@media only screen and (max-width: 460px) {
  /* For mobile phones: */
  [class='wrapper'] {
    width: 93%;
    margin-left: 0px;
  }
} 



.user {
  /* flex-direction: row;
  display: flex;
  align-items: center; */
  max-width: 100%;
  height: 40px;
  margin :auto;
  padding: 10px;
}

.picholder {
  /* width: 10%;
  display: inline-block; */
  width: 10%;
  height: 100%;
  float: left;
  border-radius: 50%;
}

.pic {
  /* width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-post{
  width: 100%;
  height: 100%;
}

.name {
  /* width: 80%;
  margin-left: 11%;
  display: inline-block; */
  margin-left: 11%;
  height: 100%;
  font-size: large;
}

.timestamp {
  font-weight: lighter;
  font-size: small;
}

span {
  display: block;
}

.post {
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 1%;
}

.post-img{
  height: 400px;
  width: 500px;
  overflow: hidden;
}

button {
  border: 1px outset transparent;
  width:33.33%;
  font-size: 15px;
  background-color: #F5F5F5;
  outline: none;
}

.group {
  margin-bottom: 5px;
  border-bottom: 1px solid #d3d3d3 ;
  border-top: 1px solid #d3d3d3;
  padding-bottom: 3px;
}

.form {
  flex-direction: row;
  
}

.textInput {
  width: 67%;
  background-color: #F5F5F5;
  font-size: 15px;
  outline: none;
}

.submit {
  width: 30%;
  background-color: #F5F5F5;
  font-size: 15px;
  outline: none;
  border: 1px solid transparent;
}